In [4]:
print('\t\t\t\t\t\t\t\t RBSE')
name = input('Name ')
rollnumber = int(input('Roll number '))
class_ = input('Class ')
fathersname = input('Fathersname ')
subjects = 'Math','Science','English','Hindi','EVS'
marks = int(input('Math '))
marks1 = int(input('Science '))
marks2 = int(input('English '))
marks3 = int(input('Hindi '))
marks4 = int(input('EVS '))

								 RBSE
Name tanmay
Roll number 3434
Class 12
Fathersname fsdflsajf
Math 45
Science 565
English 34
Hindi 32
EVS 2234

In [3]:
# Student Details
student_name = input('enter student name')
subjects = ["Math", "Science", "English", "History"]
a = int(input('marks for maths'))
b = int(input('marks for Science'))
c = int(input('marks for English'))
d = int(input('marks for History'))
marks = [a, b, c, d]

total_marks = a + b + c + d

average_marks = total_marks / 4
print("---------------------------------------")
if average_marks >= 90:
    grade = "A+"
elif average_marks >= 80:
    grade = "A"
elif average_marks >= 70:
    grade = "B"
elif average_marks >= 60:
    grade = "C"
elif average_marks >= 50:
    grade = "D"
else:
    grade = "F"

print("Student Name:", student_name)
print("Marksheet:")
print("---------------------------------------")
print("Subject\t\tMarks")
print("---------------------------------------")
print("Math\t\t",a)
print("Science\t\t",b)
print("English\t\t",c)
print("History\t\t",d)
print("---------------------------------------")
print("Total Marks:\t", total_marks)
print("Average Marks:\t", average_marks)
print("Grade:\t\t", grade)

enter student nameTanmayOla
marks for maths78
marks for Science90
marks for English34
marks for History45
---------------------------------------
Student Name: TanmayOla
Marksheet:
---------------------------------------
Subject		Marks
---------------------------------------
Math		 78
Science		 90
English		 34
History		 45
---------------------------------------
Total Marks:	 247
Average Marks:	 61.75
Grade:		 C

In [2]:
# ----------------Persional detail---------------

print("\tEnter Your Detail.....")
name =input("Enter Your Full Name:- ")
fname=input("Enter Your Father Name:- ")
Regno=int(input("Enter Registration Number:- "))
Eno=int(input("Enter EnrollMent Number:- "))
d_o_b=(input("Enter your D.O.B:- "))
adrs=input("Enter Your Adress:-  ")
Gender=input("Enter Your Gender:- ")
Categry=input("Enter Your Categry:- ")
# ------------------Course Detail--------------
print("\tEnter Subject Name and Marks")

sub1,mark1 =input("Enter Your Subject 1 Name:- "),int(input("Enter Subject 1 Marks:- "))
sub2,mark2 =input("Enter Your Subject 2 Name:- "),int(input("Enter Subject 2 Marks:- "))
sub3,mark3 =input("Enter Your Subject 3 Name:- "),int(input("Enter Subject 3 Marks:- "))
sub4,mark4 =input("Enter Your Subject 4 Name:- "),int(input("Enter Subject 4 Marks:- "))
sub5,mark5 =input("Enter Your Subject 5 Name:- "),int(input("Enter Subject 5 Marks:- "))
sub6,mark6 =input("Enter Your Subject 6 Name:- "),int(input("Enter Subject 6 Marks:- "))

#----------------------Total Marks-----------------------


# ---------------------Output formate--------------------
s1='\t\t\t\t'  #1 space

s2='\t\t\t\t\t' 
s3='\t\t\t\t\t\t\t'
s4='\t\t\t'
s5='\t\t\t\t'
line='--'*62
print(s2,"Kuchman College,")
print(s2," Kuchman city (U Dice Code- 1345647)\n")
print(line)
print(s2,"Mark-Sheet:  2022-23")
print(line)


print("Full Name:- ",name.title(),s2,"Father Name:- ",fname.title())

print("Registretion No:- ",Regno,s2,"Enrollment No:- ",Eno)

print("Date of Birth:- ",d_o_b,s2,"Adress:- ",adrs.title())

print("Gender:- ",Gender.title(),s2,"Categry:- ",Categry.title())

print(line)
print("Subjects",s1,"| Marks",s1,"Total",s1, "Percentage")
print(line)
print(sub1,s1,mark1)
print(sub2,s1,mark2)
print(sub3,s1,mark3)
print(sub4,s1,mark4)
print(sub5,s1,mark5)
print(sub6,s1,mark6)
total=mark1+mark2+mark3+mark4+mark5+mark6
print(line)
per=(total/600)*100
print(s1*3,total,s1,per)
print(line)

# ------------Gread--------------

if per >= 90:
    print(s1*3,"| Gread:- A+")
elif per< 90 and per >=80:
    print(s1*3,"| Gread:- A")
elif per<80 and per >=60:
    print(s1*3,"| Gread:- B")
elif per<60 and per >=40:
    print(s1*3,"| Gread:- C")
elif per<40 and per>=30:
    print(s1*3,"| Gread:- D")
else:
    print(s1*3,"|Gread Fail")

	Enter Your Detail.....
Enter Your Full Name:- tanmayola
Enter Your Father Name:- richhpal
Enter Registration Number:- 343445
Enter EnrollMent Number:- 45679899
Enter your D.O.B:- 14-12-2004
Enter Your Adress:-  as;lfhwfasdfscneunsdv
Enter Your Gender:- male
Enter Your Categry:- OBC
	Enter Subject Name and Marks
Enter Your Subject 1 Name:- English 90
Enter Subject 1 Marks:- Maths 55

ValueError: invalid literal for int() with base 10: 'Maths 55'

In [ ]:
tab=("\t\t\t")
tab2=("\t\t")
tab3=("\t\t\t\t")
tab4=("\t")
tab5=("\t\t\t\t\t")
name=(input("Enter the Student Name: "))
cname=(input("Enter the Course Name:"))
reg_no=(input("Enter the Registration no:"))
enroll_no=(input("Enter the Enrollment Number:"))
Date=(input("Enter Date:"))
marks1=eval(input("Enter the Marks Obtained In English: "))
marks2=eval(input("Enter the Marks Obtained In DBMS: "))
marks3=eval(input("Enter the Marks Obtained In DAA: "))
marks4=eval(input("Enter the Marks Obtained In Web Tech: "))
marks5=eval(input("Enter the Marks Obtained In Python: "))
marks6=eval(input("Enter the Marks Obtained In DSA: "))
marks=(marks1+marks2+marks3+marks4+marks5+marks6)
Percentage=((marks1+marks2+marks3+marks4+marks5+marks6)/600)*100
print("=======================================================================================================================")
print(tab,"Institute of Chartered Financial Analysts of India University Jaipur")
print("\n\n",tab3,"Annual Marks")
print("=======================================================================================================================")
print("\n",tab4,"name of the Student",tab,"course name")
print(tab4,name,tab5,cname)
print("=======================================================================================================================")
print("\n",tab4,"Reg No.",tab4,"Enrollment No.")
print(tab4,reg_no,tab4,"\t",enroll_no,)
print("=======================================================================================================================")
print(tab4,"Subject Name",tab2,"Max.Marks",tab4,"Marks Obtained")
print(tab4,"English",tab4,"\t 100",tab2,       marks1)
print(tab4,"DBMS",tab4,"\t\t 100",tab2,             marks2)
print(tab4,"DAA",tab4,"\t\t 100",tab2,              marks3)
print(tab4,"Web Tech",tab4,"\t 100",tab2,      marks4)
print(tab4,"Python",tab2,"100",tab2,        marks5)
print(tab4,"DSA",tab2,"\t 100",tab2,            marks6)
print("=======================================================================================================================")
print("Grand Total:",marks)
print("=======================================================================================================================")
print("month and year of examination",tab4,"no. of subject offered",tab4,"        Percentage")
print("may 2020",tab3,"T6=6",tab3,Percentage,"%")
print("=======================================================================================================================")
if percentage>=90 and percentage<=100:
    print("Grade: A+"   "PASS")
elif percentage>=80 and percentage<90:
    print("Grade: A"   "PASS")
elif percentage>=70 and percentage<80:
    print("Grade: B+"   "PASS")
elif percentage>=60 and percentage<70:
    print("Grade: B"   "PASS")
elif percentage>=50 and percentage<60:
    print("Grade: C"   "PASS")
elif percentage>=0 and percentage<40:
    print("Grade: D"   "FAIL")
else:
    print("NOT A VALID MARKS")
print("*****************************************")
print("DATE: ",Date)